
### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & Opérations </span> </b></center>

**Exercise 00:**  
>

  
> 1. Déclarez une variable `prenom` et attribuez-lui une valeur.
  > 2. Déclarez une variable `nom` et attribuez-lui une valeur.
  > 3. Déclarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. Déclarez une variable `pays` et attribuez-lui une valeur.
  > 5. Déclarez une variable `ville` et attribuez-lui une valeur.
  > 6. Déclarez une variable `age` et attribuez-lui une valeur.
  > 7. Déclarez une variable `annee` et attribuez-lui une valeur.
  > 8. Déclarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. Déclarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient à l'aide de la fonction `print()`.

In [6]:
prenom='Ulrich'
print(prenom)

nom='COCOSSOU'
print(nom)

nom_prenom='UlrichCOCOSSOU'
print(nom_prenom)

pays='Benin'
print(pays)

ville='calavi'
print(ville)

age=21
print(age)

annee=2022
print(annee)

est_marie='vrai'
print("est marie: " +est_marie)

est_vrai='non'
print("Est vrai: " +est_vrai)

Ulrich
COCOSSOU
UlrichCOCOSSOU
Benin
calavi
21
2022
est marie: vrai
Est vrai: non

**Exercise 01:** 
> Vérifiez le type de données de toutes vos variables à l'aide de la fonction intégrée `type()`.**

In [18]:
type(prenom)
type(nom)
type(nom_prenom)
type(ville)
type(age)
type (annee)
type(est_marie)
type(est_vrai)

str

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser différentes valeurs de $x$ et déterminez à quelle valeur de $x$ $y$ sera égal à 0.**

In [26]:
i=-3
while i<2:
    print("La valeur de y pour " ,i, " est " ,(i*i+6*i+9))
    i+=1

print("\nLa valeur de y est 0 pour x=-3")

La valeur de y pour  -3  est  0
La valeur de y pour  -2  est  1
La valeur de y pour  -1  est  4
La valeur de y pour  0  est  9
La valeur de y pour  1  est  16

La valeur de y est 0 pour x=-3

In [17]:
**Exercise 03:** 
>    

     1. Déclarez votre âge sous forme de variable entière
     2. Déclarez votre taille en tant que variable flottante
     3. Déclarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

SyntaxError: invalid syntax (2799349291.py, line 1)

In [24]:
age=21
taille=1.85
b=5
h=6
aire=0.5*b*h

print("L'aire du triangle est " ,aire)

L'aire du triangle est  15.0

## *Astuce : recevoir les entrées de l'utilisateur *
**Pour recevoir une entrée de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrée de l'utilisateur et calculez leur puissance :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} à la puissance {exposant} = {résultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [32]:
print("Pour le triangle entrez: ")
a=input("Premier coté: ")
b=input("Deuxieme coté: ")
c=input("Troisieme coté: ")
perimeter=int(a)+ int(b)+ int(c)
print("Le périmetre de ce triangle est ", perimeter)

Pour le triangle entrez:
Premier coté: 8
Deuxieme coté: 6
Troisieme coté: 4
Le périmetre de ce triangle est  18

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle à l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [33]:
print("Pour le rectangle entrez: ")
longueur=input("Longueur: ")
largeur=input("Largeur: ")

perimeter=int(longueur)+ int(largeur)
aire=int(longueur)*int(largeur)
print("Le périmetre de ce rectangle est ", perimeter, "et son aire" , aire )

Pour le rectangle entrez:
Longueur: 10
Largeur: 5
Le périmetre de ce rectangle est  15 et son aire 50

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [34]:
rayon=input("Donnez le rayon du cercle")

aire=float(3.14)*float(rayon)*float(rayon)
circonference=2*float(3.14)*float(rayon)

print("L'aire de ce cercle est ",aire, " et sa circonférence est " , circonference)

Donnez le rayon du cercle6
L'aire de ce cercle est  113.03999999999999  et sa circonférence est  37.68

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [35]:
pente=(-2-0)/(0-1)

print("La pente de y est " , pente)

La pente de y est  2.0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [36]:
taux=input("Entrez le taux horaire: ")
heures=input("Entrez les heures maintenant: ")

print("Votre rénumération est ", float(taux)*float(heures))

Entrez le taux horaire15
Entrez les heures maintenant58
Votre rénumération est  870.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [3]:
nombre=input("Entrez le nombre d'années: ")
print("Vous pouvez vivre en fonction de ce nombre ", 31536000*nombre, "secondes")

Entrez le nombre d'années: 14

TypeError: can't multiply sequence by non-int of type 'float'

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [5]:
list_a=[1, 1, 1, 1, 1]
list_b=[2, 1, 2, 4, 8]
list_c=[3, 1, 3, 9, 27]
list_d=[4, 1, 4, 16, 64]
list_e=[5, 1, 5, 25, 125]

print(list_a)
print(list_b)
print(list_c)
print(list_d)
print(list_e)

[1, 1, 1, 1, 1]
[2, 1, 2, 4, 8]
[3, 1, 3, 9, 27]
[4, 1, 4, 16, 64]
[5, 1, 5, 25, 125]

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. Améliorer l'affichage en imposant un chiffre après la virgule.**

In [6]:
temps=6.892
distance=19.7

vitesse=19.7/6.892

print("La vitesse est ", round(vitesse, 1))

La vitesse est  2.9

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [9]:
rayon=input("Entrez le rayon: ")
hauteur=input("Entrez une hauteur: ")

volume=(1/3)*3.14*float(rayon)*float(rayon)*float(hauteur)

print("Le volume de ce cone droit est ", volume)

Entrez le rayon: 14
Entrez une hauteur: 5
Le volume de ce cone droit est  1025.7333333333331

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

In [4]:
entier=input("Entrez un entier positif")

comp=0
while entier%2==0:
    comp+=1
    entier/=2
    

print("Votre entier est divisible par 2 " ,comp,"fois ")

Entrez un entier positif12

TypeError: not all arguments converted during string formatting

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de façons de le faire en lançant deux dés.**

In [ ]:
nombre=input("Entrez un nombre entre 2 et 12")

i=1
j=1

while i<nombre-1:
    while j<

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! 🎉 </span> </b></center>